.img{
    width: 40px;
    height: 40px;
}
body{
    background-image: url(/JP/imagenes/1369866.png);
}
#titulo{
    color: antiquewhite;
    margin: 10px;
    text-decoration: overline;
    text-transform: lowercase;
}
h1{
    color: rgb(129, 124, 133);
    text-align: center;
    font-style: Serif;
}
p{
    color: rgb(137, 143, 200);
    text-align: center;    
    text-transform: capitalize;
    font-style: Monospace;  
    

}
#lista_anime{
    color: antiquewhite;
    text-transform: capitalize;
}
.parent {
display: grid;
grid-template-columns: repeat(5, auto);
grid-template-rows: auto;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 3 / 3 / 4; }